<h2>
  <p>Todo List</p>
</h2>

<div class="div_lateral">
  <table>
    <tr>
      <td class="cabeçalho"><strong>userId</strong></td>
      <td class="cabeçalho"><strong>id</strong></td>
      <td class="cabeçalho"><strong>title</strong></td>
      <td class="cabeçalho"><strong>completed</strong></td>
    </tr>

    <tr class="botao" *ngFor="let todo of listatodo" *ngIf="(observable$ | async) as todo.completed else setfalso">
      <ng-template #setfalso>teste </ng-template>
      <td>{{todo.userId}}</td>
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.completed}}</td>
    </tr>
  </table>
</div>
